<div class="">
  <div class="row">
    <div class="col-12 bg-success">
      <h2>Store Init sample</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg12">
      <button class="btn btn-outline-dark" (click)="incrementA()">Inc A</button>

      <button class="btn btn-outline-dark" (click)="decrementA()">Dec A</button>

      <button class="btn btn-outline-dark" (click)="resetA()">Reset A</button>

      <button class="btn btn-outline-dark" (click)="incrementB()">IncrementB</button>

      <button class="btn btn-outline-dark" (click)="decrementB()">DecrementB</button>

      <button class="btn btn-outline-dark" (click)="resetB()">ResetB Counter</button>

      <button class="btn btn-outline-dark" (click)="setMockGenericValue()">Set MockGene</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>counter value: &nbsp; {{counterA$ | async}}</h3>
      <!--    <h3>counterA Internal value: &nbsp; {{countA}}</h3>-->
      <h3>counterB value: &nbsp; {{counterB$ | async}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="text" [(ngModel)]="mockJson[0].name">
      <input type="text" #pato [ngModel]="mockJson[0].gender">
      <button class="btn btn-outline-info" (click)="setGenderValue(pato)"> Set Gender</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <pre>{{mockJson[0] | json}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr/>
      <h3>Toaster examples</h3>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <button class="btn btn-outline-info" (click)="showToastInfo()">info</button>
    </div>
    <div class="col-1">
      <button class="btn btn-outline-success" (click)="showToastSuccess()">Success</button>
    </div>
    <div class="col-1">
      <button class="btn btn-outline-danger" (click)="showToastError()">Error</button>
    </div>
  </div>
</div>


